# Core Deep Learning
tensorflow==2.12.0
numpy>=1.22,<2.0
scipy>=1.9

# Data Handling
pandas>=1.5
joblib>=1.2
tqdm>=4.64

# Visualization
matplotlib>=3.6
seaborn>=0.12

# MLOps
dvc>=3.0
mlflow==2.2.2

# Config & Utilities
PyYAML>=6.0
python-box==6.0.2
ensure==1.0.2
types-PyYAML

# Notebooks
notebook>=6.5

# Deployment
Flask>=2.2
Flask-Cors>=3.0

# Data download
gdown>=4.7



streamlit

pillow

pyyaml


